<!DOCTYPE html>
<html lang="en">
<head> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GxSmartChurn Persona Analysis</title>
    
    <!-- Font Inter for the header -->
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'> 

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    
    <!-- CSS styles for the entire page -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <!-- GXSmartChurn Logo -->
    <link rel="preload" as="image" href="{{ url_for('static', filename='GXSmartChurn.png') }}">
    <!-- Font Awesome Icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Select2 CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
    <!-- Select2 JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
</head>
<body>

    <!-- Header tab -->
    <header>
        <nav class="navbar navbar-expand-lg" style="background: rgb(14, 32, 97); padding:1% 1%;">
            <div class="container-fluid">
                <img src="{{ url_for('static', filename='GXSmartChurn.png') }}" alt="Churn Image">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 mx-auto">
                    <li class="nav-item mx-3"><a href="#" class="nav-link px-4">KPI Summary</a></li>
                    <li class="nav-item mx-3"><a href="#" class="nav-link px-4">Lifecycle Explorer</a></li>
                    <li class="nav-item mx-3"><a href="#" class="nav-link active px-4">Engagement Analytics</a></li>
                    <li class="nav-item mx-3"><a href="#" class="nav-link px-4">Demographics Hub</a></li>
                </ul>
                <button class="btn btn-outline-light side" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
                    ≡ </button>
                <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasExampleLabel">Persona Descriptions</h5>
                        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <div class="mb-4">
                            <h5 class="maroon">Savings Savant</h3>
                            <h7> This group focuses on maximizing interest earnings and minimizing fees, always on the lookout for the best financial deals and no-cost banking.</h5>
                        </div>
                        <div class="mb-4">
                            <h5 class="maroon">Digital Dynamos</h3>
                            <h7> Customers who prioritize innovative banking features, such as mobile banking, online transactions, and advanced ATM technology, to enhance their banking experience.</h5>
                        </div>
                        <div class="mb-4">
                            <h5 class="maroon">Trustee Tribe</h3>
                            <h7> Those who value a personal touch, emphasizing reliable and accessible customer service, whether it’s through face-to-face interactions or dedicated support lines.</h5>
                        </div>
                        <div class="mb-4">
                            <h5 class="maroon">Frugal Innovators</h3>
                            <h7> Clients who seek the right balance between cost-effective banking and access to modern banking technologies, optimizing both their financial and digital experiences.</h5>
                        </div>
                        <div class="mb-4">
                            <h5 class="maroon">Cost-Conscious Careseekers</h3>
                            <h7> Banking customers who look for the combination of low-cost services with high-quality customer support, ensuring value without compromising on assistance.</h5>
                        </div>
                        <div class="mb-4">
                            <h5 class="maroon">Premium Patrons</h3>
                            <h7> The elite customers who expect the latest in banking technology coupled with exceptional service, often opting into exclusive or premium bank offerings.</h5>
                        </div>
                        <div class="mb-4">
                            <h5 class="maroon">Triple Advantage Allies</h3>
                            <h7> The most demanding yet potentially most loyal customers, who expect the best rates, cutting-edge features, and outstanding service, all in one package.</h5>
                        </div>
                    </div>
                </div>
            </div> 
        </nav>
    </header>
<!-- Filter Section -->
<section class="filter-section">
    <form action="api/handle-filters/customer-persona-analysis" method="post">
        <!-- Demographic Filters -->
        <div class="demographic-filters">
            <h2>Demographic Filters:</h2>

            <!-- Age Filter -->
            <div class="filter-container">
                <span class="filter-name">Age</span>
                <select multiple name="Age" class="filter-select">
                    <option value="18-24">18-24</option>
                    <option value="25-34">25-34</option>
                    <option value="35-44">35-44</option>
                    <option value="45-54">45-54</option>
                    <option value="55-64">55-64</option>
                    <option value="65-INF">65+</option>
                </select>
            </div>
            
            <!-- Gender Filter -->
            <div class="filter-container">
                <span class="filter-name">Gender</span>
                <select multiple name="Gender" class="filter-select">
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                </select>
            </div>
            
            <!-- Marital Status Filter -->
            <div class="filter-container">
                <span class="filter-name">Marital Status</span>
                <select multiple name="MaritalStatus" class="filter-select">
                    <option value="Single">Single</option>
                    <option value="Married">Married</option>
                    <option value="Divorced">Divorced</option>
                </select>
            </div>

            <!-- Housing Status Filter -->
            <div class="filter-container">
                <span class="filter-name">Housing Status</span>
                <select multiple name="HousingStatus" class="filter-select">
                    <option value="rented">Rent</option>
                    <option value="owned">Purchased</option>
                    <option value="norent_noown">No house No rent</option>
                </select>
            </div>
            
            <!-- Number of Dependents Filter -->
            <div class="filter-container">
                <span class="filter-name">Number of Dependents</span>
                <select multiple name="Dependants" class="filter-select">
                    <option value="0-0">0</option>
                    <option value="1-1">1</option>
                    <option value="2-2">2</option>
                    <option value="3-3">3</option>
                    <option value="4-4">4</option>
                    <option value="5-INF">5+</option>
                </select>
            </div>
            
            <!-- Employment Status Filter -->
            <div class="filter-container">
                <span class="filter-name">Employment Status</span>
                <select multiple name="EmploymentStatus" class="filter-select">
                    <option value="Parttime">Employed</option>
                    <option value="Fulltime">Unemployed</option>
                    <option value="Self-employed">Self-employed</option>
                    <option value="Student">Student</option>
                    <option value="Retired">Retired</option>
                </select>
            </div>
            
            <!-- Income Source Filter -->
            <div class="filter-container">
                <span class="filter-name">Income Source</span>
                <select multiple name="IncomeSource" class="filter-select">
                    <option value="Employment">Employment</option>
                    <option value="Investment">Investments</option>
                    <option value="Self-employment">Self-employment</option>
                    <option value="Allowance">Allowance</option>
                    <option value="Rental">Rental</option>
                    <option value="Retirement">Retirement</option>
                </select>
            </div>
            
            <!-- Education Level Filter -->
            <div class="filter-container">
                <span class="filter-name">Education Level</span>
                <select multiple name="Education" class="filter-select">
                    <option value="PSLE">PSLE</option>
                    <option value="O/N">O/N Level</option>
                    <option value="A">A Level</option>
                    <option value="Diploma">Diploma</option>
                    <option value="Bachelors">Bachelor's Degree</option>
                    <option value="Masters">Masters Degree</option>
                    <option value="PHD">PhD</option>
                    <option value="Post-Doc">Post-Doctorate</option>
                </select>
            </div>
        </div>

        <!-- Behavioral/Financial Filters -->
        <div class="behavioral-filters">
            <h2>Behavioral/Financial Filters:</h2>
            
            <!-- Account Balance Filter -->
            <div class="filter-container">
                <span class="filter-name">Account Balance</span>
                <select multiple name="Balance" class="filter-select">
                    <option value="0-999">Less Than $1000</option>
                    <option value="1000-9999">$1000 to $10000</option>
                    <option value="10000-49999">$10000 to $50000</option>
                    <option value="50000-99999">$50000 to $100000</option>
                    <option value="100000-INF">More Than $100000</option>
                </select>
            </div>

            <!-- Salary Filter -->
            <div class="filter-container">
                <span class="filter-name">Estimated Yearly Salary</span>
                <select multiple name="EstimatedSalary" class="filter-select">
                    <option value="0-9999">Less Than $10000</option>
                    <option value="10000-29999">$10000 to $30000</option>
                    <option value="30000-49999">$30000 to $50000</option>
                    <option value="50000-79999">$50000 to $80000</option>
                    <option value="80000-99999">$80000 to $100000</option>
                    <option value="100000-149999">$100000 to $150000</option>
                    <option value="150000-INF">More than $150000</option>
                </select>
            </div>

            <!-- Loans Filter -->
            <div class="filter-container">
                <span class="filter-name">Loan Amount</span>
                <select multiple name="LoanAmt" class="filter-select">
                    <option value="0-9999">Less Than $10000</option>
                    <option value="10000-19999">$10000 to $20000</option>
                    <option value="20000-29999">$20000 to $30000</option>
                    <option value="30000-INF">$30000 or More</option>
                </select>
            </div>

            
            
            <!-- Credit Utilization Filter -->
            <!--<div class="filter-container">
                <span class="filter-name">Credit Utilization</span>
                <select multiple name="CreditUtilization" class="filter-select">
                    <option value="0.0-0.29999">Less Than 30%</option>
                    <option value="0.3-0.59999">30% to 60%</option>
                    <option value="0.6-0.89999">60% to 90%</option>
                    <option value="0.9-1.0">More Than 90%</option>
                </select>
            </div> -->
            
            <!-- Number of Products Filter -->
            <div class="filter-container">
                <span class="filter-name">Number of Products</span>
                <select multiple name="NumOfProducts" class="filter-select">
                    <option value="1-1">1</option>
                    <option value="2-2">2</option>
                    <option value="3-3">3</option>
                    <option value="4-4">4</option>
                </select>
            </div>
            
            <!-- Tenure Filter -->
            <div class="filter-container">
                <span class="filter-name">Tenure</span>
                <select multiple name="Tenure" class="filter-select">
                    <option value="0-5">Less Than 6 Months</option>
                    <option value="6-12">6 to 12 Months</option>
                    <option value="13-INF">More than 1 Year</option>
                </select>
            </div>
            
            <!-- Transaction Amount Filter -->
            <div class="filter-container">
                <span class="filter-name">Transaction Amount</span>
                <select multiple name="TransactionAmt" class="filter-select">
                    <option value="0-999">Less Than $1000</option>
                    <option value="1000-9999">$1000 to $10000</option>
                    <option value="10000-49999">$10000 to $50000</option>
                    <option value="50000-99999">$50000 to $100000</option>
                    <option value="100000-INF">More Than $100000</option>
                </select>
            </div>

            <!-- Transaction Frequency Filter-->
            <div class="filter-container">
                <span class="filter-name">Transaction Frequency</span>
                <select multiple name="TransactionFreq" class="filter-select">
                    <option value="0-19">Less than 20</option>
                    <option value="20-39">20 to 40</option>
                    <option value="40-59">40 to 60</option>
                    <option value="60-79">60 to 80</option>
                    <option value="80-99">80 to 100</option>
                    <option value="100-INF">More than 100</option>
                </select>
            </div>

            <!--Months Inactive Filter-->
            <div class="filter-container">
                <span class="filter-name">Months Inactive</span>
                <select multiple name="MonthsInactive" class="filter-select">
                    <option value="0-0">0</option>
                    <option value="1-1">1</option>
                    <option value="2-2">2</option>
                    <option value="3-3">3</option>
                    <option value="4-4">4</option>
                    <option value="5-5">5</option>
                    <option value="6-INF">6 or more</option>
                </select>
            </div>
        </div>

        <!-- Advanced Filters -->
        <div class="advanced-filters">
            <h2>Advanced Filters:</h2>
            
            <!-- Customer Satisfaction Surveys Filter -->
            <div class="filter-container">
                <span class="filter-name">Customer Satisfaction Surveys</span>
                <select multiple name="CustomerSatisfaction" class="filter-select">
                    <option value="5-5">Very Satisfied</option>
                    <option value="4-4">Satisfied</option>
                    <option value="3-3">Neutral</option>
                    <option value="2-2">Unsatisfied</option>
                    <option value="0-1">Very Unsatisfied</option>
                </select>
            </div>
            
            <!-- Response to previous retention efforts Filter -->
            <div class="filter-container">
                <span class="filter-name">Response to Previous Retention Efforts</span>
                <select multiple name="Retention" class="filter-select">
                    <option value="0.7-1.0">Highly Responsive</option>
                    <option value="0.5-0.69999">Moderately Responsive</option>
                    <option value="0.3-0.49999">Slightly Responsive</option>
                    <option value="0.0-0.29999">Not Responsive</option>
                </select>
            </div>
            
            <!-- Channels used for transactions Filter -->
            <div class="filter-container">
                <span class="filter-name">Payment Method</span>
                <select multiple name="PaymentMethod" class="filter-select">
                    <option value="Paynow">Paynow</option>
                    <option value="FAST">FAST</option>
                    <option value="Cash">Cash</option>
                    <option value="Debit">Debit Card</option>
                </select>
            </div>
            
            <!-- Marketing offers accepted Filter -->
            <div class="filter-container">
                <span class="filter-name">Marketing Offers Accepted</span>
                <select multiple name="MarketingOffersAcceptance" class="filter-select">
                    <option value="0.0-0.4999">Low Acceptance</option>
                    <option value="0.5-1.0">High Acceptance</option>
                </select>
            </div>
        
        </div>
        <input type="hidden" id="token-id" name="token-id"> <!--Generates a unique tokenID for form submit-->
        <input type="submit" class="analyze-button" value="Analyze!">
    
    </form>
    <!--button class="analyze-button" type="button">Analyze!</button-->
</section>

<script>
    // Generate random token ID
    var tokenId = Math.random().toString(36).substring(2, 15) + Math.random().toString(36).substring(2, 15);
    
    // Set token ID as hidden value
    document.getElementById("token-id").value = tokenId; 
</script>

<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
