<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GxSmartChurn Demographics Hub Dashboard</title>
    
    <!-- Font Inter for the header -->
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'> 

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    
    <!-- CSS styles for the entire page -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='DH.css') }}">
    <!-- GXSChurn Logo -->
    <link rel="preload" as="image" href="{{ url_for('static', filename='GXSChurn.png') }}">
    <!-- Font Awesome Icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <!-- Plotly.js CDN -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <!-- Header tab -->
    <header>
        <nav class="navbar navbar-expand-lg" style="background: rgb(14, 32, 97); padding:1% 1%;">
            <div class="container-fluid">
                <img src="{{ url_for('static', filename='GXSChurn.png') }}" alt="Churn Image">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 mx-auto">
                    <li class="nav-item mx-3"><a href="/" class="nav-link px-4">KPI Summary</a></li>
                    <li class="nav-item mx-3"><a href="/Lifecycle-Explorer" class="nav-link px-4">Lifecycle Explorer</a></li>
                    <li class="nav-item mx-3"><a href="/Engagement-Analytics" class="nav-link px-4">Engagement Analytics</a></li>
                    <li class="nav-item mx-3"><a href="/Demographics-Hub" class="nav-link active px-4">Demographics Hub</a></li>
                </ul>
                <button class="btn btn-outline-light side" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
                    ≡ </button>
                <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasExampleLabel">Persona Descriptions</h5>
                        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <div class="mb-4">
                            <h5 class="maroon">Savings Savant</h3>
                            <h7> This group focuses on maximizing interest earnings and minimizing fees, always on the lookout for the best financial deals and no-cost banking.</h5>
                        </div>
                        <div class="mb-4">
                            <h5 class="maroon">Digital Dynamos</h3>
                            <h7> Customers who prioritize innovative banking features, such as mobile banking, online transactions, and advanced ATM technology, to enhance their banking experience.</h5>
                        </div>
                        <div class="mb-4">
                            <h5 class="maroon">Trustee Tribe</h3>
                            <h7> Those who value a personal touch, emphasizing reliable and accessible customer service, whether it’s through face-to-face interactions or dedicated support lines.</h5>
                        </div>
                        <div class="mb-4">
                            <h5 class="maroon">Frugal Innovators</h3>
                            <h7> Clients who seek the right balance between cost-effective banking and access to modern banking technologies, optimizing both their financial and digital experiences.</h5>
                        </div>
                        <div class="mb-4">
                            <h5 class="maroon">Cost-Conscious Careseekers</h3>
                            <h7> Banking customers who look for the combination of low-cost services with high-quality customer support, ensuring value without compromising on assistance.</h5>
                        </div>
                        <div class="mb-4">
                            <h5 class="maroon">Premium Patrons</h3>
                            <h7> The elite customers who expect the latest in banking technology coupled with exceptional service, often opting into exclusive or premium bank offerings.</h5>
                        </div>
                        <div class="mb-4">
                            <h5 class="maroon">Triple Advantage Allies</h3>
                            <h7> The most demanding yet potentially most loyal customers, who expect the best rates, cutting-edge features, and outstanding service, all in one package.</h5>
                        </div>
                    </div>
                </div>
            </div> 
        </nav>
    </header>

    <!-- Spinner -->
    <div id="spinner-bg" class="spinner-bg">
        <img src="{{ url_for('static', filename='GXSChurn.png') }}" alt="GxSmartChurn logo">
        <p>Running...</p>
        <div id="spinner" class="spinner"></div>
    </div>

    <!-- Dashboard Section -->
    <section class="dashboard-section">
        <!-- Panels Section -->
        <div class="top-panels">
            <div class="panel">
                <h3>Total Customer Count</h3>
                <p></p>
            </div>
            <div class="panel">
                <h3>Average Tenure</h3>
                <p></p>
            </div>
            <div class="panel">
                <h3>Average % of Marketing Offers Accepted</h3>
                <p></p>
            </div>
            <div class="panel">
                <h3>Average Churn Probability</h3>
                <p></p>
            </div>
            <div class="panel">
                <h3>Average Dormant Probability</h3>
                <p></p>
            </div>
            <div class="panel">
                <h3>Average Brand Satisfaction Score</h3>
                <p></p>
            </div>
        </div>
        <!-- Plotly Charts Section -->
        <div class="plotly-charts">
            <div class="chart" id="age-gender-chart"></div>
            <div class="chart" id="number-of-products-chart"></div>
            <div class="chart" id="education-employment-chart"></div>
            <div class="chart" id="marital-housing-chart"></div>
            <div class="chart" id="income-source-chart"></div>
            <div class="chart" id="account-balance-chart"></div>
            <div class="chart" id="payment-method-chart"></div>
            <div class="chart" id="transaction-frequency-transaction-amount-chart"></div>
            <div class="chart" id="loan-amount-salary-chart"></div>
            <div class="chart" id="service-support-frequency-support-satisfaction-chart"></div>
            <div class="chart" id="retention-chart"></div>
            <div class="chart" id="months-inactive-chart"></div>
            <div class="chart" id="change-in-behaviour-chart"></div>
            <div class="chart" id="feature-support-frequency-satisfaction-chart"></div>
            <div class="chart" id="dependents-count-chart"></div>
            <div class="chart" id="churn-likelihood-chart"></div>
        </div>
    </section>
    
    <script>
        // Define the token_id variable and set its value
        const token_id = "{{ token_id }}";
    </script>
    
    <script src="{{ url_for('static', filename='DH_2.js') }}"></script>
</body>
</html>
